body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Andale Mono', monospace;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

html {
    overflow: -moz-hidden-unscrollable;
}

h1, h2 {
    color: #94b34d;
    margin-bottom: 20px;
}

h1 {
    border-bottom: 2px solid #8ecc6a;
}

input[type="text"], input[type="submit"], #saveLimit {
    font-family: 'Andale Mono', monospace;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

input[type="text"] {
    width: 100px;
    border-radius: 8px 0 0 8px;
}

#saveLimit {
    background-color: #94b34d;
    width: 100px;
    margin: 0 0 5px 0;
    border-radius: 0 8px 8px 0;
}

input[type="submit"] {
    width: 220px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: opacity 0.3s ease;
    background-color: #8d66e8;
    color: #fff;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

.limit-container, .history-list li, .history-buttons {
    display: flex;
    align-items: center;
}

.limit-container {
    margin-left: 10px;
}

.options-menu-container, #historyContainer {
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.options-menu-container {
    height: 300px;
    padding: 50px;
    background-color: #4b4f48e4;
}

#historyContainer {
    height: 150px;
    margin: 400px auto 0;
    background-color: #94b34d;
    position: absolute;
}

.history-list {
    list-style-type: none;
    width: 400px;
    max-height: 100px;
    overflow-y: auto;
}

.history-list li {
    width: 320px;
    margin-bottom: 10px;
    border-bottom: 1px solid #999999e4;
    padding-bottom: 5px;
}

.date, .amount, .history-checkbox {
    color: #4b4f48e4;
}

.amount {
    color: white;
    float: right;
}

.history-buttons button {
    background-color: #8d66e8;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    margin: 5px 5px 0 0;
}

.history-buttons button:hover {
    background-color: #7555c0;
}
